*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.TITTLE_IMPORT{
    width: 100%;
    height: 90px;
    background-color: rgb(255, 60, 0);
    text-align: center;
    font-family: fantasy;
}
section{
    width: 1000px;
    margin: 30px auto;
    box-sizing: border-box;
}
/* ******PRIMERA SECCION********* */
.TITTLE_IMPORT{
    color: rgb(253, 253, 253);
    font-size: 60px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 10px 0px 0px 0px;
    text-align: center;
}
/* ***SEGUNDA SECCION*** */
.TITULO_TABLA{
    text-align: center;
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: rgb(20, 180, 220);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.subtitulo{
    font-size: 17px;
    color:blue;
}

.tittle_1{
    margin: 10px 0px 10px 0px;
    color:rgb(255, 255, 255);
    background-color: rgb(13, 192, 7);
    list-style: none;
    text-align: center;
    font-size: 30px;
}

.tittle_2{
    margin: 10px 0px 10px 0px;
    color:white;
    background-color: tomato;
    list-style: none;
    text-align: center;
    font-size: 30px;
}

.tittle_3{
    margin: 10px 0px 10px 0px;
    color:white;
    background-color: rgb(27, 145, 255);
    list-style: none;
    text-align: center;
    font-size: 30px;
}

.tittle_4{
    margin: 10px 0px 10px 0px;
    color: white;
    background-color: orangered;
    list-style: none;
    text-align: center;
    font-size: 30px;
}

footer{
    width: 100%;
    height: 70px;
    background-color: rgb(255, 60, 0);
    text-align: center;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
header{
    width: 100%;
    height: 60px;
    padding: 10px 40px 0px 40px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #f00000;
    background-image: linear-gradient(62deg, #f00000 0%, #f78e8e 100%);

}
.LOGO{
    color: blanchedalmond;
}
.nav{
    list-style: none;
    width: 200px;
    padding-top: 10px;

    display: flex;
}